.cardPanelContainer {
    border: 0.1vh solid #d9defb;
    border-radius: 1%;
    padding: 1vh;
    background-color: #bbdefb;
}

.typography {
    text-align: center;
    color: #1976d2;
}

.listCards {
    overflow: auto;
    max-height: 66vh;
    min-height: 66vh;
}